<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/abhiMewada97"> <i class="fa-brands fa-github text-dark"> </i> </a>
            <a href="https://www.instagram.com/mr_abhishek_mewada__/"> <i class="fa-brands fa-square-instagram text-dark"> </i> </a>
            <a href="https://www.linkedin.com/in/abhishek-mewada/"> <i class="fa-brands fa-linkedin text-dark"> </i> </a>
        </div>
        <div class="f-info-brand"> &copy; WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>